@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap');



@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,900');

body {
	margin: 0;
	padding: 0;
}

.dashboard {
   background-color: transparent;
}

.container {
	background:black;
	height: max-content;
   width: max-content;
	display: flex;
	flex-direction: row;	
	position: static;
}

.blob-c {
	min-height: 100vh;
	overflow: hidden;
	position:absolute;
	width: 100%;
	filter: blur(40px);
/*   background: rgba(255,255,255,0.1) */
}

.shape-blob {
	background:#26C3F9;
	height: 290px;
	width: 300px;
	border-radius: 40% 50% 30% 40%;
  	animation: 
		transform 18s ease-in-out infinite both alternate,
		movement_one 12s ease-in-out infinite both;
	opacity:.7;
	position: absolute;
	left: 75%;
	top: 40%;
}
.shape-blob.one{
	background:#0085FF;
	height: 300px;
	width: 300px;
	left: 10px;
	top: 80px;
	transform: rotate(-180deg);
	animation: transform 8s ease-in-out infinite both alternate, movement_two 20s ease-in-out infinite both;
}

.shape-blob.six{
	background:#0EAFFF;
	height: 290px;
	width: 280px;
	left: 160px;
	top: 200px;
	transform: rotate(-180deg);
	animation: transform 5s ease-in-out infinite both alternate, movement_two 5s ease-in-out infinite both;
}

.shape-blob.four{
	background:#4EAEFF;
	height: 200px;
	width: 280px;
	left: 350px;
	top: 260px;
	transform: rotate(-180deg);
	animation: transform 17s ease-in-out infinite both alternate, movement_two 13s ease-in-out infinite both;
}

.shape-blob.five{
	background:#0085FF;
	height: 240px;
	width: 280px;
	left: 480px;
	top: 30px;
	transform: rotate(-180deg);
	animation: transform 12s ease-in-out infinite both alternate, movement_two 18s ease-in-out infinite both;
}

.shape-blob.two{
	background:#4EAEFF;
	height: 250px;
	width: 250px;
	left: 600px;
	top: 150px;
	transform: rotate(-180deg);
	animation: transform 10s ease-in-out infinite both alternate, movement_two 10s ease-in-out infinite both;
}

.shape-blob.three{
	background:#0EAFFF;
	height: 250px;
	width: 250px;
	left: 800px;
	top: 30px;
	transform: rotate(-180deg);
	animation: transform 7s ease-in-out infinite both alternate, movement_two 23s ease-in-out infinite both;
}
.shape-blob.seven{
	background:#0085FF;
	height: 240px;
	width: 280px;
	left: 480px;
	top: 230px;
	transform: rotate(-180deg);
	animation: transform 12s ease-in-out infinite both alternate, movement_two 18s ease-in-out infinite both;
}



@keyframes transform
{
    0%,
  100% { border-radius: 33% 67% 70% 30% / 30% 40% 70% 70%; } 
   30% { border-radius: 37% 63% 51% 49% / 37% 35% 35% 63%; } 
   60% { border-radius: 36% 64% 64% 36% / 64% 48% 52% 26%; } 
   80% { border-radius: 37% 63% 51% 49% / 30% 30% 70% 73%; } 
   90% { border-radius: 40% 60% 42% 58% / 51% 51% 49% 59%; } 
}


@keyframes movement_one
{
    0%,
  100% { transform: none; }
   50% { transform: translate(50%, 20%) rotateY(10deg) scale(1); }
}

@keyframes movement_two
{
    0%,
  500% { transform: none; }
   50% { transform: translate(50%, 20%) rotate(-200deg) scale(1.3);}
}



:root{
   --main-color:white;
   --red:#e74c3c;
   --light-color:#666;
   --light-bg:#1a1a1a;
   --black:#2c3e50;
   --white:#f4e3f0;
   --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
  
}

*{
   font-family: 'Nunito', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
}

html{
   font-size: 62.5%;
   overflow-x: hidden;
}

.lang{
   text-align: center;
   font-size: 1.5rem;
   margin-top: 20px;
   margin-bottom: 20px;
   color: white;
}

.btn,
.option-btn{
   display: block;
   width: 100%;
   margin-top: 1rem;
   padding:1rem 3rem;
   cursor: pointer;
   font-size: 1.8rem;
   border-radius: .5rem;
   color:var(--white);
   text-align: center;
   text-transform: capitalize;
}

.btn{
   background-color: var(--main-color);
}

.option-btn{
   background-color: var(--black);
}

.btn:hover{
   background-color: var(--black);
}

.option-btn:hover{
   background-color: var(--main-color);
}

.form-container form{
   margin:0 auto;
   max-width: 50rem;
   border: var(--border);
   border-radius: .5rem;
   background-color: var(--white);
   box-shadow: var(--box-shadow);
   padding:1.5rem;
   padding-top: 1rem;
}

.form-container form p{
   padding-top: 1rem;
   font-size: 1.8rem;
   color:var(--light-color);
}

.form-container form p span{
   color:var(--red);
}

.form-container form .box{
   width: 100%;
   border-radius: .5rem;
   background-color: var(--light-bg);
   padding: 1.4rem;
   font-size: 1.8rem;
   color:var(--black);
   margin:1rem 0;
   border: var(--border);
}

.option .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, 27rem);
   grid-template-rows: auto;
   gap:2.5rem;
   align-items: flex-start;
   justify-content: center;
   display: flex;
   flex-direction: row;
   box-shadow: inset;
   margin-bottom: 8px;
   
}

.option .box-container .box{
   
   border-radius: .5rem;
   border-style: solid;
   border-color: white;
   border-width: 0.2rem;
   background-color: transparent;
   box-shadow: var(--box-shadow);
   text-align: center;
   box-shadow: 2px 2px 4px rgba(0.5,0.5, 0.5, 0.5);
   padding: 20px;
   width: 200px;
   height: 200px;
   padding-top: 0;
   margin-top: 30px;
}

.option .box-container .box:hover{
   background-color: black;
}

.option .box-container .box .album{
   margin:2rem;
   /* border-radius: 50%; */
   object-fit: contain;
   height: 10rem;
   width: 10rem;
}

.option .box-container .box .name{
   font-size: 2rem;
   color:var(--black);
   text-decoration: solid;
   color: white;
}



.option .box-container .box .flex{
   margin-top: 1.5rem;
   border-top: var(--border);
   display: flex;
}

.option .box-container .box .flex > *{
   flex:1;
   padding:1.5rem;
   font-size: 1.6rem;
   cursor: pointer;
}

.option .box-container .box .flex a{
   border-left: var(--border);
}

.option .box-container .box .flex i{
   margin-right: .8rem;
   color:var(--main-color);
}

.option .box-container .box .flex span{
   color:var(--light-color);
}

.option .box-container .more-btn{
   padding: 1.5rem;
}

.option .box-container .more-btn .btn{
   margin-top: 0;
}


h1{
   font-size: 40px;
   margin-left: 30px;
   margin-bottom: 30px;
   margin-top: 0px;
   margin-right: 50px;
   color: white;
}

p{
   font-size: 15px;
   margin-right: 50px;
   margin-left: 30px;
   text-align: justify;
   color: white;
}

h3{
   font-size: 25px;
   text-align: center;
   margin-top: 50px;
   color: white;
}

h4{
   font-size: 90px;
   margin-left: 20px;
   color: white;
}

h5{
   font-size: 30px;
   margin-left: 20px;
   margin-top: -20px;
   color: white;
}

table{
   margin-top: 60px;
   
}

/* Float four columns side by side */
.column {
   float: left;
   width: 25%;
   padding: 0 5px;
 }
 
 .row {
   margin-top: 80px;}
 
 /* Clear floats after the columns */
 .row:after {
   content: "";
   display: table;
   clear: both;
 }
 
 /* Responsive columns */
 @media screen and (max-width: 600px) {
   .column {
     width: 100%;
     display: block;
     margin-bottom: 10px;
     
   }
 }
 
 /* Style the counter cards */
 .card {
   /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
   padding: 16px;
   text-align: center;
   /* background-color: #444; */
   color: white;
   height: 100%;
 }

 .card:hover{
   background-color: rgba(95, 95, 214, 0.867);
   color: white;
 }
 
 .fa {font-size:50px;}

 .p1{
   text-align: center;
   margin-bottom: 20px;
 }

 .parallax-section{
	-webkit-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	position: relative;
}
.overlay{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
#testimonial{
	padding: 130px 0 95px;
	
}
#testimonial .overlay{
	background: transparent;
}
.ts-testimonial-slide{
	text-align: center;
	color: white;
	width: 85%;
	margin: 0 auto;
   margin-bottom: 50px;
   margin-top: -30px;
}
.ts-testimonial-slide p{
	font-size: 24px;
	line-height: 36px;
	font-style: italic;
	font-family: 'Droid Serif';
	margin-bottom: 35px;
}
.ts-testimonial-slide .ts-testimonial-item {
  margin-bottom: 15px;
}
.ts-testimonial-slide .ts-testimonial-item .icon-client{
	background: transparent;
	width: 29px;
	height: 29px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	text-align: center;
	line-height: 29px;
	margin-top: 2px;
}
.ts-testimonial-slide .ts-testimonial-item .infor-client {
  display: inline-block;
  margin: 0 auto;
  width: auto;
}
.ts-testimonial-slide .ts-testimonial-item  .client-name{
	padding-left: 38px;
	font-size: 12.8px;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-family: 'Montserrat';
	display: block;
	line-height: normal;
	white-space: nowrap;
   color: #1a1a1a;
}
.ts-testimonial-slide .ts-testimonial-item  .client-position{
	font-size: 12px;
	font-style: italic;
	line-height: normal;
	display: block;
	text-align: left;
   color: black;
}
.ts-testimonial-slide .ts-testimonial-item  .client-position a{
	color: black;
}
.ts-testimonial-slide .ts-testimonial-item  .client-position a:hover{
	color: #5ed9e7;
}

