@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap');

:root{
   --main-color:#051236;
   --red:#e74c3c;
   --light-color:#666;
   --light-bg:#1a1a1a;
   --black:#2c3e50;
   --white:#f4e3f0;
   --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
  
}

*{
   font-family: 'Nunito', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
}

html{
   font-size: 62.5%;
   overflow-x: hidden;
}

.message{
   position: sticky;
   top: 2rem;
   margin: 0 auto;
   margin-bottom: 2rem;
   border-radius: .5rem;
   background-color: var(--white);
   border:var(--border);
   box-shadow: var(--box-shadow);
   padding:1.5rem 2rem;
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap:1.5rem;
   z-index: 1000;
   max-width: 1200px;
   animation: fadeIn .4s cubic-bezier(.3,1.41,.4,1.46);
}

@keyframes fadeIn {
   0%{
      transform: scale(.5) translateY(1rem);
   }
}

.message span{
   font-size: 2rem;
   color:var(--black);
}

.message i{
   cursor: pointer;
   font-size: 2.5rem;
   color:var(--red);
}

.message i:hover{
   color:var(--black);
}

.btn,
.option-btn{
   display: block;
   width: 100%;
   margin-top: 1rem;
   padding:1rem 3rem;
   cursor: pointer;
   font-size: 1.8rem;
   border-radius: .5rem;
   color:var(--white);
   text-align: center;
   text-transform: capitalize;
}

.btn{
   background-color: var(--main-color);
}

.option-btn{
   background-color: var(--black);
}

.btn:hover{
   background-color: var(--black);
}

.option-btn:hover{
   background-color: var(--main-color);
}

.option .box-container .box:hover{
   background-color: blue;
}
.form-container form{
   margin:0 auto;
   max-width: 50rem;
   border: var(--border);
   border-radius: .5rem;
   background-color: var(--white);
   box-shadow: var(--box-shadow);
   padding:1.5rem;
   padding-top: 1rem;
}

.form-container form p{
   padding-top: 1rem;
   font-size: 1.8rem;
   color:var(--light-color);
}

.form-container form p span{
   color:var(--red);
}

.form-container form .box{
   width: 100%;
   border-radius: .5rem;
   background-color: var(--light-bg);
   padding: 1.4rem;
   font-size: 1.8rem;
   color:var(--black);
   margin:1rem 0;
   border: var(--border);
}

.option .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, 27rem);
   grid-template-rows: auto;
   gap:5rem;
   align-items: flex-start;
   justify-content: center;
   display: flex;
   flex-direction: row;
   box-shadow: inset;
   margin-bottom: 8px;
}

.option .box-container .box{
   
   border-radius: .5rem;
   background-color: rgba(95, 95, 214, 0.867);
   box-shadow: var(--box-shadow);
   text-align: center;
   box-shadow: 2px 2px 4px rgba(0.5,0.5, 0.5, 0.5);
   padding: 20px;
   width: 260px;
   height: 200px;
   padding-top: 0;
}

.option .box-container .box .album{
   margin:2rem;
   border-radius: 50%;
   object-fit: contain;
   height: 10rem;
   width: 10rem;
}

.option .box-container .box .name{
   font-size: 2rem;
   color:var(--black);
   text-decoration: solid;
   color: white;
}

.option .box-container .box .artist{
   margin: .5rem 0;
   font-size: 1.4rem;
   color:var(--main-color);
   color: white;
   margin-top: 10px;
}

.option .box-container .box .flex{
   margin-top: 1.5rem;
   border-top: var(--border);
   display: flex;
}

.option .box-container .box .flex > *{
   flex:1;
   padding:1.5rem;
   font-size: 1.6rem;
   cursor: pointer;
}

.option .box-container .box .flex a{
   border-left: var(--border);
}

.option .box-container .box .flex i{
   margin-right: .8rem;
   color:var(--main-color);
}

.option .box-container .box .flex span{
   color:var(--light-color);
}

.option .box-container .more-btn{
   padding: 1.5rem;
}

.option .box-container .more-btn .btn{
   margin-top: 0;
}


h1{
   font-size: 40px;
   margin-left: 30px;
   margin-bottom: 30px;
   margin-top: 0px;
   margin-right: 50px;
}

p{
   font-size: 15px;
   margin-right: 50px;
   margin-left: 30px;
   text-align: justify;
   margin-bottom: 50px;
}

h3{
   font-size: 25px;
   text-align: center;
}

h4{
   font-size: 90px;
   margin-left: 20px;
   margin-top: 50px;
}

h5{
   font-size: 40px;
   margin-left: 20px;
   margin-top: 20px;
   margin-bottom: 50px;
}

table{
   margin-top: 60px;
   margin-bottom: 80px;
}

button{
   margin-bottom: 100px;
   margin-left: 30px;
   width: 200px;
   height: 45px;
   background-color: #1a1a1a;
   color: #f4e3f0;
   border-radius: 5px;
   box-shadow: var(--box-shadow);
}

.icon{
   width: 50px;
   height: 50px;
}

.icon i{
   margin-right: .8rem;
   color:var(--main-color);
}